@model SecurityUserViewModel
@{
  Layout = "";    
}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Sistema Supervisión de Organizaciones de Transporte (SuperTransp) - Entrada al Sistema</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="~/login_assets/css/mainX.css" />
		<noscript><link rel="stylesheet" href="~/login_assets/css/noscript.css" /></noscript>
		<link rel="icon" type="image/x-icon" href="~/images/Logo.ico" />

		<style>
			.responsive-img {
				max-width: 100%;
				height: auto;
				display: block;
			}
		</style>

	</head>
	<body class="is-preload">

@using(Html.BeginForm("Login", "Security", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	<div id="wrapper">

		<!-- Nav -->
			<nav id="nav">
				<a href="#" class="icon solid fa-home"><span>Login</span></a>
				<a href="#" class="icon solid fa-folder"><span>Novedades</span></a>
				<a href="#" class="icon solid fa-envelope"><span>Soporte</span></a>
			</nav>

		<!-- Main -->
			<div id="main">
				<!-- Me -->
					<article id="home" class="panel intro">
						<header>
							<h2>
							<span class="symbol">
								<img src="~/images/cintillo.jpg" alt="" class="responsive-img" />
							</span>

							<label style="text-align:center">Sistema para la Supervisión de Organizaciones de Transporte</label>
							</h2>
								@if (ViewBag.InvalidUser == "true")
								{
									<div>
										<h5 style="color: #be3113; text-align:center;">Usuario o clave inválida</h5>
									</div>
								}
								else if(ViewBag.InvalidUser == "inactive")
								{
									<div>
										<h5 style="color: #be3113; text-align:center;">Usuario inactivo</h5>
									</div>
								}
								else if(ViewBag.InvalidUser == "blocked")
								{
									<div>
										<h5 style="color: #be3113; text-align:center;">Usuario bloqueado por número de intentos fallidos al iniciar</h5>
									</div>
								}
							<div class="form-group row">
								<div class="col-12">
								<span>Usuario</span>
									@Html.TextBoxFor(x => x.Login, new { @class = "form-control", maxlength = "20", placeholder = "Nombre de usuario", onclick = "$(this).select();" })
									<span asp-validation-for="Login" class="text-danger"></span>
								</div>
							</div>
							<p>
							<div class="form-group row">
								<div class="col-12">
									<span>Clave</span>
									<div style="position: relative;">
										@Html.PasswordFor(x => x.Password, new { @class = "form-control", maxlength = "30", placeholder = "Indique su clave", onclick = "$(this).select();", id = "PasswordInput" })
										<input type="text" id="PasswordVisible" class="form-control" maxlength="30" placeholder="Indique su clave" style="position: absolute; top: 0; left: 0; width: 100%; visibility: hidden;" />
										<span id="togglePassword" style="position: absolute; right: 10px; top: 18px; cursor: pointer;">
											<svg id="eyeIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" stroke="#333" fill="none" stroke-width="2" viewBox="0 0 24 24">
												<path d="M2 12s4-7 10-7 10 7 10 7-4 7-10 7-10-7-10-7z" />
												<circle cx="12" cy="12" r="3" />
												<line id="eyeSlash" x1="3" y1="3" x2="21" y2="21" stroke="#555" stroke-width="2" />
											</svg>
										</span>
									</div>
									<span asp-validation-for="Password" class="text-danger"></span>
								</div>
							</div>
							<p>
							<div class="col-12">
								<div style="text-align:center"><input type="submit" value="Entrar" id="saveRequest" /></div>
							</div>
						</header>

						<a href="#" class="jumplink pic">
							<img src="~/images/splash2.jpg	" alt="" />
						</a>
					</article>
			</div>

		<!-- Footer -->
			<div id="footer">
				<ul class="copyright">
					<li>&copy; Gerencia de Tecnología @DateTime.Now.Year.</li>
					<li>Sitio: <a href="http://www.fontur.gob.ve/" target="_blank">FONTUR</a></li>
				</ul>
			</div>
	</div>	
}

	<!-- Wrapper-->
	<!-- Scripts -->
	<script src="~/login_assets/js/jquery.min.js"></script>
	<script src="~/login_assets/js/browser.min.js"></script>
	<script src="~/login_assets/js/breakpoints.min.js"></script>
	<script src="~/login_assets/js/util.js"></script>
	<script src="~/login_assets/js/main.js"></script>
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	<script type="text/javascript">

		$("body").on("click", "#saveRequest", function (e) {
			if (!isOkToSave()) {
				e.preventDefault();
			} else {
				return true;
			}
		});

		function isOkToSave() {
			if ($("#Password").val() == "") {
				alert("Debe colocar el password");
				return false;
			}
			return true;
		}

		function showMsg(hasCurrentJob) {
			if (hasCurrentJob != "OK") {
				alert(hasCurrentJob);
				return false;
			} else {

				$("form").unbind('submit').submit();
			}
		}

		$(document).ready(function () {
			const $passHidden = $('#PasswordInput');
			const $passVisible = $('#PasswordVisible');
			const $eyeSlash = $('#eyeSlash');

			$('#togglePassword').on('click', function () {
				const isHidden = $passHidden.css('visibility') !== 'hidden';

				if (isHidden) {
					$passVisible.val($passHidden.val()).css('visibility', 'visible').focus();
					$passHidden.css('visibility', 'hidden');
					$eyeSlash.hide();
				} else {
					$passHidden.val($passVisible.val()).css('visibility', 'visible').focus();
					$passVisible.css('visibility', 'hidden');
					$eyeSlash.show();
				}
			});

			$passHidden.on('input', function () {
				$passVisible.val($(this).val());
			});

			$passVisible.on('input', function () {
				$passHidden.val($(this).val());
			});

		});

	</script>
</body>
</html>